{% extends "base.html" %}
{% block content %}

<div style="background-color: black;">

    <div style="color: white">

        <h1 style="text-align:center;">NOSSOS CANAIS DE CONTATO</h1>
        <br>
        <div id="img_centro" >
            <img src="../static/img/contato.jpg">
        </div>
        <br>
        <div class="txt_centro">
            <hr>
            <h2>Telefones</h2>

                <h4>Vendas: 5555-5555</h4>
                <h4>SAC: 7777-7777</h4>
            <hr>
        </div>

        <div class="txt_centro">
            <h2>Nosso endereço</h2>
            <h4>Av. Impacta ADS, 5A/5B - Conclusão de curso - São Paulo - SP</h4>

    </div>
</div>

{% endblock %}