{% extends "base.html" %}
{% block content %}

<div style="background-color: black;" text="white">
    <h1 class="txt_centro" style="color: white">LIVRARIA ACLMR</h1><br>

    <h2 class="txt_centro" style="color: white">A melhor loja de livros do Brasil!!</h2>
    <br>

    <div id="img_centro">
    <img src="../static/img/img_livro_index.jpg">
    </div>


    <p style="color: white">What is Lorem Ipsum?<br><br>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>


{% endblock %}


</html>